.cp {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-h3);
    font-family: var(--font-style-heading);
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    
}

.check {
    
    font-size: var(--font-size-h3);
    font-family: var(--font-style-heading);

}    

